$cell-width: 100px;
$cal-padding: 10px;
$cal-gap: 1px;
$cal-width: $cell-width * 7 + $cal-padding + $cal-gap * 7;
$cell-color: #eee;
$days: ('sun' 1, 'mon' 2, 'tue' 3, 'wed' 4, 'thu' 5, 'fri' 6, 'sat' 7);
